.game {
	width: 100%;
	margin-top: 7em;
	margin-bottom: 17.4583333333em;

	&__container {
		width: 100%;
		overflow: hidden;
		border-radius: 2.0833333333em;
	}

	&__info {
		display: flex;
		width: 100%;
		justify-content: space-between;
		padding: 44px 58px 101px 58px;

		background-color: #1b1d21;
	}

	&__image {
		width: 47.2440944882%;
		max-height: 405px;
		border-radius: 0.8em;

		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__data {
		width: 42.6509186352%;
	}

	&__screenshoots {
		padding-top: 5.2083333333em;
		padding-bottom: 7.5416666667em;
		width: 100%;
		background-color: #2b2e35;

		border-top: 2px solid #1b1d21;
	}
}

.screenshoots {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;

	&__container {
		width: 49.0243902439%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__item {
		position: relative;
		width: 201px;
		border: 1px solid #0d0e11;
		transition: transform 150ms ease-in-out;

		@media (min-width: 767.98px) {
			&:hover {
				z-index: 2;
				cursor: pointer;
				transform: scale(1.2);
			}
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
