.description {
	position: relative;

	font-weight: 300;
	font-size: 0.83rem;
	line-height: 1.2em;

	color: #fff;
	margin-bottom: 0.5em;

	word-break: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;

	&::before {
		position: absolute;
		content: "Show full description";
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: visible;

		font-weight: 300;
		font-size: 0.83rem;
		line-height: 1.2em;
		color: #fff;

		z-index: 3;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(27, 29, 33, 0.45);
		backdrop-filter: blur(2.5px);

		border-radius: 0.2rem;

		opacity: 0;

		transition: opacity 150ms ease-in-out;
	}

	&:hover {
		&::before {
			cursor: pointer;
			opacity: 1;
		}
	}

	&__container {
		width: 50vw;
		padding: 70px;
		background-color: rgba(0, 0, 0, 0.8);
		box-shadow: 0 0 100px rgb(0 0 0 / 90%);

		color: #fff;
	}
}
