.game {
	overflow: hidden;
	height: 169px;
	max-height: 169px;
	background: #2b2e35;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	border-radius: 50px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	&__description {
		width: 50%;
		padding: 31px 0 21px 53px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__image {
		user-select: none;
		width: 50%;
	}

	&__title {
		position: relative;
		width: 210%;
		z-index: 2;
		color: #e1e1e1;
		font-weight: 800;
		font-size: 1.5rem;
		line-height: 43px;
		word-break: normal;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
	}
}

.platforms {
	display: flex;
	&__item {
		margin-right: 10px;
		color: #d6d6d6;
		width: 25px;
		height: 25px;
	}
}

.image {
	position: relative;

	&__pic {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center 25%;
	}

	&__gradient {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(90deg, #2b2e35 1%, rgba(0, 0, 0, 0) 94.46%);
	}

	&__noImgGradient {
		z-index: 0;
		background: linear-gradient(90deg, #2b2e35 1.19%, #226dff 250.12%);
	}

	&__noImgText {
		z-index: 1;
		position: absolute;
		text-align: center;
		transform: translateX(15%) translateY(-3%);
		color: rgba(43, 46, 53, 0.75);
		font-weight: 800;
		font-size: 5rem;
		line-height: 90px;
	}
}
