.loader {
	width: 2.5em;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;

	&__dot {
		width: 0.6em;
		height: 0.6em;
		border-radius: 50%;
		background: linear-gradient(90deg, #1986fe -26.11%, #226dff 120.56%);
		animation: fade 0.8s ease-in-out alternate infinite;

		&:nth-child(1) {
			animation-delay: -0.4s;
		}
		&:nth-child(2) {
			animation-delay: -0.2s;
		}
	}
}

@keyframes fade {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
