.metascore {
	width: fit-content;
	height: fit-content;
	text-align: center;

	position: relative;
	font-weight: 700;
	font-size: 2.0833rem;
	line-height: 1.2em;

	color: #fff;

	&__value {
		padding: 0.4em;
		display: block;
		background-color: #226dff;
	}

	&__text {
		display: block;

		font-weight: 400;
		font-size: 0.8333333333rem;
		line-height: 1.2em;
	}
}
