@import "../../lib/variables.scss";

.navlink {
	color: #fff;
	font-size: $fontrem;
	line-height: 29px;
	font-weight: 300;
}

.active {
	color: #1986fe;
	font-weight: 800;
	text-shadow: 0px 4px 4px rgba(25, 134, 254, 0.2);
}
