@import "../../lib/transitions.scss";

.screenshoot {
	position: relative;

	&__loader {
		position: absolute;
		z-index: 1;
		top: 20%;
		left: 30%;
	}

	&__hidden {
		opacity: 0;
	}

	&__loaded {
		@extend %appearTemplate;
		animation-duration: 550ms;
	}
}
