.searchbar {
	position: relative;
	width: 33.3536585366%;
	height: 50px;

	&__noGames {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		font-weight: 300;
		font-size: 1rem;
		line-height: 29px;
		color: #707070;
	}
}

.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
