@import-normalize;
@import "./lib/fonts.scss";
@import "./lib/variables.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1664px;
	width: 100%;
	margin: 0 auto;
	padding: 0 12px;
}

html,
body {
	font-family: "SF UI", sans-serif;
	font-weight: 400;
	font-size: $fontrem;
}
