.footer {
	background-color: #1b1d21;
	height: 231px;
	&__container {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__copy {
		font-weight: 300;
		font-size: 0.8333333333rem;
		color: #d6d6d6;
		line-height: 1rem;
	}
}
